<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <%
  var title = '';
  if (page.current > 1) title = __('page', page.current);
  else if (page.title) title = page.title;
  else if (page.category) title = page.category;
  else if (page.tag) title = page.tag;
  else if (page.archive){
    if (page.year) title = page.year + (page.month ? '/' + page.month : '');
    else title = __('archive_a');
  }
  else title = config.title;
  %>
  <title><%= title %></title>
  <% if (config.author){ %><meta name="author" content="<%= config.author %>"><% } %>
  <% if (page.description){ %> <meta name="description" content="<%= page.description %>">
  <% } else if (config.description){ %> <meta name="description" content="<%= config.description %>">
  <% } else if (page.excerpt){ %> <meta name="description" content="<%= strip_html(page.excerpt).replace(/^\s*/, '').replace(/\s*$/, '') %>">
  <% } else if (page.content){ %> <meta name="description" content="<%= strip_html(page.content).replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 150) %>">
  <% } %>
<% if (page.keywords){ %><meta name="keywords" content="<%= page.keywords %>"><% } %>
  <% if (page.title){ %><meta property="og:title" content="<%= page.title %>"/><% } %>
  <meta property="og:site_name" content="<%= config.title %>"/>
  <meta name="viewport" content="initial-scale=1.0">
<% if(page.cover) { %> <meta property="og:image" content="<%= page.cover %>" />
  <% } else { %> <meta property="og:image" content="<%= config.cover %>"/>
  <% } %>
  <link rel="icon" href="data:image/svg+xml;base64,iVBORw0KGgoAAAANSUhEUgAABBIAAAQSCAYAAAASWNnGAAAACXBIWXMAABcSAAAXEgFnn9JSAAAA
GXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAG+FJREFUeNrs3FFSI1cSQFGno4KA
/S8Wgp+cnpgfe6Ydc91gVRWcswFBlpBKl3ya3f0NAAAAoPjdCAAAAIBKSAAAAAAyIQEAAADIhAQA
AAAgExIAAACATEgAAAAAMiEBAAAAyIQEAAAAIBMSAAAAgExIAAAAADIhAQAAAMiEBAAAACATEgAA
AIBMSAAAAAAyIQEAAADIhAQAAAAgExIAAACATEgAAAAAMiEBAAAAyIQEAAAAIBMSAAAAgExIAAAA
ADIhAQAAAMiEBAAAACATEgAAAIBMSAAAAAAyIQEAAADIhAQAAAAgExIAAACATEgAAAAAMiEBAAAA
yIQEAAAAIBMSAAAAgExIAAAAADIhAQAAAMiEBAAAACATEgAAAIBMSAAAAAAyIQEAAADIhAQAAAAg
ExIAAACATEgAAAAAMiEBAAAAyIQEAAAAIBMSAAAAgExIAAAAADIhAQAAAMiEBAAAACATEgAAAIBM
SAAAAAAyIQEAAADIhAQAAAAgExIAAACATEgAAAAAssMIgK9gZtYUAPgqdndMAbgqGwkAAABAJiQA
AAAAmZAAAAAAZEICAAAAkAkJAAAAQCYkAAAAAJmQAAAAAGRCAgAAAJAJCQAAAEAmJAAAAACZkAAA
AABkQgIAAACQCQkAAABAJiQAAAAAmZAAAAAAZEICAAAAkAkJAAAAQCYkAAAAAJmQAAAAAGRCAgAA
AJAJCQAAAEAmJAAAAACZkAAAAABkQgIAAACQCQkAAABAJiQAAAAA2WEEAABwLTOzj37M3R2TBwoh
AbjNDQ4AAHA+RxsAAACATEgAAAAAMiEBAAAAyIQEAAAAIBMSAAAAgExIAAAAADIhAQAAAMiEBAAA
ACATEgAAAIBMSAAAAAAyIQEAAADIhAQAAAAgExIAAACATEgAAAAAMiEBAAAAyIQEAAAAIBMSAAAA
gExIAAAAADIhAQAAAMiEBAAAACATEgAAAIBMSAAAAAAyIQEAAADIhAQAAAAgExIAAACATEgAAAAA
MiEBAAAAyIQEAAAAIBMSAAAAgExIAAAAADIhAQAAAMiEBAAAACATEgAAAIBMSAAAAAAyIQEAAADI
hAQAAAAgO4wA7m9m1hQAAIBHEBIAAIBT/jGxu2PycD+ONgAAAACZkAAAAABkQgIAAACQCQkAAABA
JiQAAAAAmZAAAAAAZEICAAAAkAkJAAAAQCYkAAAAAJmQAAAAAGRCAgAAAJAJCQAAAEAmJAAAAACZ
kAAAAABkQgIAAACQCQkAAABAJiQAAAAAmZAAAAAAZEICAAAAkAkJAAAAQCYkAAAAAJmQAAAAAGRC
AgAAAJAJCQAAAEAmJAAAAACZkAAAAABkQgIAAACQCQkAAABANrtrCvArfzwz/ngAAG7mx+efMQX4
GBsJAAAAQCYkAAAAAJmQAAAAAGRCAgAAAJAJCQAAAEAmJAAAAACZkAAAAABkQgIAAACQCQkAAABA
JiQAAAAAmZAAAAAAZEICAAAAkAkJAAAAQCYkAAAAAJmQAAAAAGRCAgAAAJAJCQAAAEAmJAAAAACZ
kAAAAABkQgIAAACQCQkAAABAJiQAAAAAmZAAAAAAZEICAAAAkAkJAAAAQCYkAAAAAJmQAAAAAGRC
AgAAAJAJCQAAAEAmJAAAAACZkAAAAABkQgIAAACQCQkAAABAJiQAAAAAmZAAAAAAZEICAAAAkAkJ
AAAAQCYkAAAAAJmQAAAAAGRCAgAAAJAJCQAAAEAmJAAAAACZkAAAAABkQgIAAACQCQkAAABAJiQA
AAAAmZAAAAAAZEICAAAAkAkJAAAAQCYkAAAAAJmQAAAAAGRCAgAAAJAJCQAAAEAmJAAAAACZkAAA
AABkQgIAAACQCQkAAABAdhgBdzEzawoAAADnspEAAAAAZEICAAAAkAkJAAAAQCYkAAAAAJkvWwQA
AL6NK32B9+6OK8Id2UgAAAAAMiEBAAAAyIQEAAAAIBMSAAAAgExIAAAAADIhAQAAAMiEBAAAACAT
EgAAAIBMSAAAAAAyIQEAAADIhAQAAAAgExIAAACATEgAAAAAMiEBAAAAyIQEAAAAIBMSAAAAgExI
AAAAADIhAQAAAMiEBAAAACATEgAAAIBMSAAAAAAyIQEAAADIhAQAAAAgExIAAACATEgAAAAAMiEB
AAAAyIQEAAAAIBMSAAAAgOwwAoDr2t250s8zM+uqAAB8bzYSAAAAgExIAAAAADIhAQAAAMiEBAAA
ACATEgAAAIBMSAAAAAAyIQEAAADIhAQAAAAgExIAAACATEgAAAAAMiEBAAAAyIQEAAAAIBMSAAAA
gExIAAAAADIhAQAAAMiEBAAAACATEgAAAIBMSAAAAAAyIQEAAADIhAQAAAAgExIAAACATEgAAAAA
MiEBAAAAyIQEAAAAIBMSAAAAgExIAAAAADIhAQAAAMiEBAAAACATEgAAAIDsMAIAqt2dq/1MM7Ou
DADA4wgJADf88AwAAGdxtAEAAADIhAQAAAAgExIAAACATEgAAAAAMiEBAAAAyIQEAAAAIBMSAAAA
gExIAAAAADIhAQAAAMiEBAAAACATEgAAAIBMSAAAAAAyIQEAAADIhAQAAAAgExIAAACATEgAAAAA
MiEBAAAAyIQEAAAAIBMSAAAAgExIAAAAADIhAQAAAMiEBAAAACATEgAAAIBMSAAAAAAyIQEAAADI
hAQAAAAgO4wAgDvb3fnKv9/MrKsMAFyJjQQAAAAgExIAAACATEgAAAAAMiEBAAAAyIQEAAAAIBMS
AAAAgExIAAAAADIhAQAAAMiEBAAAACATEgAAAIBMSAAAAAAyIQEAAADIhAQAAAAgExIAAACATEgA
AAAAMiEBAAAAyIQEAAAAIBMSAAAAgExIAAAAADIhAQAAAMiEBAAAACATEgAAAIBMSAAAAAAyIQEA
AADIhAQAAAAgExIAAACATEgAAAAAMiEBAAAAyIQEAAAAIBMSAAAAgExIAAAAADIhAQAAAMiEBAAA
ACATEgAAAIDsMALgznZ3TAEAAB7HRgIAAACQCQkAAABAJiQAAAAAmZAAAAAAZL5sEQAuzBeK/sfM
rCkAwDXYSAAAAAAyIQEAAADIhAQAAAAgExIAAACATEgAAAAAMiEBAAAAyIQEAAAAIBMSAAAAgExI
AAAAADIhAQAAAMiEBAAAACATEgAAAIBMSAAAAAAyIQEAAADIhAQAAAAgExIAAACATEgAAAAAMiEB
AAAAyIQEAAAAIBMSAAAAgExIAAAAADIhAQAAAMiEBAAAACATEgAAAIBMSAAAAACywwgAAPhvuzum
cD0zs6YAnM1GAgAAAJAJCQAAAEAmJAAAAACZkAAAAABkQgIAAACQCQkAAABAJiQAAAAAmZAAAAAA
ZEICAAAAkAkJAAAAQCYkAAAAAJmQAAAAAGRCAgAAAJAJCQAAAEAmJAAAAACZkAAAAABkQgIAAACQ
CQkAAABAJiQAAAAAmZAAAAAAZEICAAAAkAkJAAAAQCYkAAAAAJmQAAAAAGRCAgAAAJAJCQAAAEAm
JAAAAACZkAAAAABkQgIAAACQHUYAAFzd7s53/d1nZj0DALgSIQHgb3h6fnFDfxHvb69jCgAAj+do
AwAAAJDZSODDrFwCAAB8HzYSAAAAgMxGAgAAwAnO2uz9zl9gy+cQEgAAuMwHHB+kAK7P0QYAAAAg
ExIAAACATEgAAAAAMiEBAAAAyIQEAAAAIBMSAAAAgExIAAAAADIhAQAAAMiEBAAAACATEgAAAIBM
SAAAAAAyIQEAAADIhAQAAAAgExIAAACATEgAAAAAMiEBAAAAyIQEAAAAIBMSAAAAgExIAAAAADIh
AQAAAMiEBAAAACATEgAAAIBMSAAAAAAyIQEAAADIhAQAAAAgm901BT72JJp52JPox/N1TPzca3A1
nhMAeM/nq90v/NPX2f0TH2UjAQAAAMiEBAAAACATEgAAAIBMSAAAAAAyIQEAAADIhAQAAAAgExIA
AACATEgAAAAAMiEBAAAAyIQEAAAAIBMSAAAAgExIAAAAADIhAQAAAMiEBAAAACATEgAAAIBMSAAA
AAAyIQEAAADIhAQAAAAgExIAAACATEgAAAAAMiEBAAAAyIQEAAAAIBMSAAAAgExIAAAAADIhAQAA
AMiEBAAAACATEgAAAIBMSAAAAAAyIQEAAADIhAQAAAAgExIAAACATEgAAAAAMiEBAAAAyIQEAAAA
IBMSAAAAgExIAAAAADIhAQAAAMiEBAAAACA7jADg+p6eX9YU/uz97XVMAX/v/rYBeDwbCQAAAEAm
JAAAAACZkAAAAABkQgIAAACQCQkAAABAJiQAAAAAmZAAAAAAZEICAAAAkAkJAAAAQCYkAAAAAJmQ
AAAAAGRCAgAAAJAJCQAAAEAmJAAAAACZkAAAAABkQgIAAACQCQkAAABAJiQAAAAAmZAAAAAAZEIC
AAAAkB1GAAAA97C786jHmpn9Sr8P8HlsJAAAAACZkAAAAABkQgIAAACQCQkAAABAJiQAAAAAmZAA
AAAAZEICAAAAkAkJAAAAQCYkAAAAAJmQAAAAAGRCAgAAAJAJCQAAAEAmJAAAAACZkAAAAABkQgIA
AACQCQkAAABAJiQAAAAAmZAAAAAAZEICAAAAkAkJAAAAQCYkAAAAAJmQAAAAAGRCAgAAAJAJCQAA
AEAmJAAAAACZkAAAAABkQgIAAACQCQkAAABAJiQAAAAAmZAAAAAAZEICAAAAkB1GAPyV3R1TAAAA
/shGAgAAAJAJCQAAAEAmJAAAAACZ70iATzYzawoAAMBXJSQAAACnOOsfML5QGj7G0QYAAAAgExIA
AACATEgAAAAAMiEBAAAAyIQEAAAAIBMSAAAAgExIAAAAADIhAQAAAMiEBAAAACATEgAAAIBMSAAA
AAAyIQEAAADIhAQAAAAgExIAAACATEgAAAAAMiEBAAAAyIQEAAAAIBMSAAAAgExIAAAAADIhAQAA
AMiEBAAAACATEgAAAIBMSAAAAAAyIQEAAADIhAQAAAAgExIAAACATEgAAAAAMiEBAAAAyIQEAAAA
IBMSAAAAgOwwAvhcuzuPfsyZWZMHANw3AY9gIwEAAADIhAQAAAAgExIAAACAbHYdreaDT6IHns93
ju6x18C8AcD9hXu7rzd7c+ejbCQAAAAAmZAAAAAAZEICAAAAkAkJAAAAQCYkAAAAAJmQAAAAAGRC
AgAAAJAJCQAAAEAmJAAAAACZkAAAAABkQgIAAACQCQkAAABAJiQAAAAAmZAAAAAAZEICAAAAkAkJ
AAAAQCYkAAAAAJmQAAAAAGRCAgAAAJAJCQAAAEAmJAAAAACZkAAAAABkQgIAAACQCQkAAABAJiQA
AAAAmZAAAAAAZEICAAAAkAkJAAAAQCYkAAAAAJmQAAAAAGSHEXAnM7OmAADg3g44j5DAh+3ueKMB
AID73WPDr3C0AQAAAMiEBAAAACATEgAAAIBMSAAAAAAyIQEAAADIhAQAAAAgExIAAACATEgAAAAA
MiEBAAAAyIQEAAAAIBMSAAAAgExIAAAAADIhAQAAAMiEBAAAACATEgAAAIBMSAAAAAAyIQEAAADI
hAQAAAAgExIAAACATEgAAAAAMiEBAAAAyIQEAAAAIBMSAAAAgExIAAAAADIhAQAAAMgOIwAAAL6T
3R1TgF8nJOAF/5PNzLpaAADAV+VoAwAAAJDZSACA6On55SEbR+9vr1ZuXQcAuCwbCQAAAEAmJAAA
AACZkAAAAABkQgIAAACQCQkAAABAJiQAAAAAmZAAAAAAZEICAAAAkAkJAAAAQCYkAAAAAJmQAAAA
AGRCAgAAAJAJCQAAAEAmJAAAAACZkAAAAABkQgIAAACQCQkAAABAJiQAAAAAmZAAAAAAZEICAAAA
kAkJAAAAQCYkAAAAAJmQAAAAAGRCAgAAAJAJCQAAAEAmJAAAAACZkAAAAABkQgIAAACQHUYAANfy
9PyypgAAXJWNBAAAACATEgAAAIBMSAAAAAAyIQEAAADIhAQAAAAgExIAAACATEgAAAAAMiEBAAAA
yIQEAAAAIBMSAAAAgExIAAAAADIhAQAAAMiEBAAAACATEgAAAIBMSAAAAAAyIQEAAADIhAQAAAAg
ExIAAACATEgAAAAAMiEBAAAAyIQEAAAAIBMSAAAAgExIAAAAADIhAQAAAMiEBAAAACATEgAAAIBM
SAAAAAAyIQEAAADIhAQAAAAgExIAAACA7DAC+Fy7O//0Y8zMmjQA4L4JOIOQAADwE0/PL6LtCd7f
Xn2wBLg4RxsAAACATEgAAAAAMiEBAAAAyIQEAAAAIPNliwA35EvgAAA4i40EAAAAIBMSAAAAgExI
AAAAADIhAQAAAMiEBAAAACATEgAAAIBMSAAAAAAyIQEAAADIhAQAAAAgExIAAACATEgAAAAAMiEB
AAAAyIQEAAAAIBMSAAAAgExIAAAAADIhAQAAAMiEBAAAACATEgAAAIBMSAAAAAAyIQEAAADIhAQA
AAAgExIAAACATEgAAAAAssMIAAC4iqfnl330Y76/vY7JA3Q2EgAAAIBMSAAAAAAyRxsAPuCMFVwA
ADiTjQQAAAAgExIAAACATEgAAAAAMiEBAAAAyIQEAAAAIBMSAAAAgExIAAAAADIhAQAAAMiEBAAA
ACATEgAAAIBMSAAAAAAyIQEAAADIhAQAAAAgExIAAACATEgAAAAAMiEBAAAAyIQEAAAAIBMSAAAA
gExIAAAAADIhAQAAAMiEBAAAACATEgAAAIBMSAAAAAAyIQEAAADIhAQAAAAgExIAAACATEgAAAAA
MiEBAAAAyIQEAAAAIBMSAAAAgExIAAAAADIhAQAAAMiEBAAAACATEgAAAIBMSAAAAAAyIQEAAADI
hAQAAAAgExIAAACATEgAAAAAMiEBAAAAyIQEAAAAIBMSAAAAgExIAAAAADIhAQAAAMiEBAAAACAT
EgAAAIBMSAAAAAAyIQEAAADIhAQAAAAgExIAAACATEgAAAAAMiEBAAAAyIQEAAAAIBMSAAAAgExI
AAAAADIhAQAAAMiEBAAAACATEgAAAIBMSAAAAACywwiAvzIze4WfY3fH1QDAezHANQgJcEOP+GDt
xgUAEPOBn3G0AQAAAMhsJADwt7y/vfrvFHxRT88vttEA+L9sJAAAAACZkAAAAABkQgIAAACQCQkA
AABAJiQAAAAAmZAAAAAAZEICAAAAkAkJAAAAQCYkAAAAAJmQAAAAAGRCAgAAAJAJCQAAAEAmJAAA
AACZkAAAAABkQgIAAACQCQkAAABAJiQAAAAAmZAAAAAAZEICAAAAkAkJAAAAQCYkAAAAAJmQAAAA
AGRCAgAAAJAJCQAAAEAmJAAAAACZkAAAAABkQgIAAACQCQkAAABAJiQAAAAAmZAAAAAAZLO7pgD8
74vDzGVeHH68To0rAsB3eM+7Gu/BwM8cRgC4wXNzBQAAlaMNAAAAQGYjAYBbsorMV2G7CYC7sZEA
AAAAZEICAAAAkAkJAAAAQCYkAAAAAJmQAAAAAGRCAgAAAJAJCQAAAEAmJAAAAACZkAAAAABkQgIA
AACQCQkAAABAJiQAAAAAmZAAAAAAZEICAAAAkAkJAAAAQCYkAAAAAJmQAAAAAGRCAgAAAJAJCQAA
AEAmJAAAAACZkAAAAABkQgIAAACQCQkAAABAdhgBwK+ZmT3rsXd3XAHA6yoAZxASgFu44gdnN7wA
AHxHjjYAAAAAmY0EAAC+PZtvAJ2NBAAAACATEgAAAIBMSAAAAAAyIQEAAADIhAQAAAAgExIAAACA
TEgAAAAAMiEBAAAAyIQEAAAAIBMSAAAAgExIAAAAADIhAQAAAMiEBAAAACATEgAAAIBMSAAAAAAy
IQEAAADIhAQAAAAgExIAAACATEgAAAAAMiEBAAAAyIQEAAAAIBMSAAAAgExIAAAAADIhAQAAAMiE
BAAAACATEgAAAIDsMAKA+5mZffRj7u6YPHiNAQAbCQAAAEAmJAAAAACZow0AAFyCI1QA9yAkANzs
htfZZQAAzuRoAwAAAJAJCQAAAEAmJAAAAACZkAAAAABkQgIAAACQCQkAAABAJiQAAAAAmZAAAAAA
ZEICAAAAkAkJAAAAQCYkAAAAAJmQAAAAAGRCAgAAAJAJCQAAAEAmJAAAAACZkAAAAABkQgIAAACQ
CQkAAABAJiQAAAAAmZAAAAAAZEICAAAAkAkJAAAAQCYkAAAAAJmQAAAAAGRCAgAAAJAJCQAAAEAm
JAAAAACZkAAAAABkQgIAAACQCQkAAABAJiQAAAAAmZAAAAAAZEICAAAAkB1GAEAxM2sKAADYSAAA
AAAyIQEAAADIHG0AADiRY0MA3I2NBAAAACATEgAAAIDM0QaAm9ndOeNxrV+D1xkA+DcbCQAAAEAm
JAAAAACZkAAAAABkQgIAAACQCQkAAABAJiQAAAAAmZAAAAAAZEICAAAAkAkJAAAAQCYkAAAAAJmQ
AAAAAGRCAgAAAJAJCQAAAEAmJAAAAACZkAAAAABkQgIAAACQCQkAAABAJiQAAAAAmZAAAAAAZEIC
AAAAkAkJAAAAQCYkAAAAAJmQAAAAAGSHEQBQ7O6YAgAANhIAAACATEgAAAAAMiEBAAAAyIQEAAAA
IBMSAAAAgExIAAAAADIhAQAAAMiEBAAAACATEgAAAIBMSAAAAAAyIQEAAADIhAQAAAAgExKAf7Fr
xzQAADAMwzT+oDsKAWBD6BkVAAAgExIAAACATEgAAAAAMiEBAAAAyIQEAAAAIBMSAAAAgExIAAAA
ADIhAQAAAMiEBAAAACATEgAAAIBMSAAAAAAyIQEAAADIhAQAAAAgExIAAACATEgAAAAAMiEBAAAA
yIQEAAAAIBMSAAAAgExIAAAAADIhAQAAAMiEBAAAACATEgAAAIBMSAAAAAAyIQEAAADIhAQAAAAg
ExIAAACATEgAAAAAMiEBAAAAyIQEAAAAIBMSAAAAgExIAAAAADIhAQAAAMiEBAAAACATEgAAAIBM
SAAAAAAyIQEAAADIhAQAAAAgExIAAACATEgAAAAAMiEBAAAAyIQEAAAAIBMSAAAAgExIAAAAALLb
ZgUAAAAg8UgAAAAAMiEBAAAAyIQEAAAAIBMSAAAAgExIAAAAADIhAQAAAMiEBAAAACATEgAAAIBM
SAAAAAAyIQEAAADIhAQAAAAgExIAAACATEgAAAAAMiEBAAAAyIQEAAAAIBMSAAAAgExIAAAAADIh
AQAAAMiEBAAAACATEgAAAIBMSAAAAAAyIQEAAADIhAQAAAAgExIAAACATEgAAAAAMiEBAAAAyIQE
AAAAIBMSAAAAgExIAAAAADIhAQAAAMiEBAAAACATEgAAAIBMSAAAAAAyIQEAAADIhAQAAAAgExIA
AACATEgAAAAAMiEBAAAAyIQEAAAAIBMSAAAAgExIAAAAADIhAQAAAMiEBAAAACATEgAAAIBMSAAA
AAAyIQEAAADIhAQAAAAgExIAAACATEgAAAAAMiEBAAAAyIQEAAAAIBMSAAAAgOwFGAA25wnE1W8K
bAAAAABJRU5ErkJggg==" type="image/svg+xml">
  <link rel="alternate" href="<% if (theme.rss){ %><%- theme.rss %><% } else { %><%- config.root %>atom.xml<% } %>" title="<%= config.title %>" type="application/atom+xml">
  <link rel="stylesheet" media="screen" type="text/css" href="<%- config.root %>css/ty.css">
  <link rel="stylesheet" media="screen" type="text/css" href="<%- config.root %>css/style.css">
  <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>